<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Managment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <div th:if="${param.success}">
        <div class="alert alert-info">Success!!!</div>
    </div>
    <div th:if="${param.error}">
        <div class="alert alert-info" style="color: #f44336">Error!!!</div>
    </div>
    <div class="card">
        <div class="row">
            <h1> Not Activated Users </h1>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
<!--    <div class="card">-->
<!--        <h1>Add Course</h1>-->
<!--        <form action="#" th:action="@{/save_course}" method="post" th:object="${course}">-->
<!--            <label>Title:</label>-->
<!--            <input type="text" th:field="*{title}" required/><br/>-->

<!--            <label>Details:</label>-->
<!--            <input type="text" th:field="*{details}" required/><br/>-->

<!--            <button type="submit" class="btn btn-success">Add</button>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--        <h1>Edit Course</h1>-->
<!--        <form action="#" th:action="@{/edit_course}" method="post" th:object="${course}">-->
<!--            <label>Title:</label>-->
<!--            <input type="text" th:field="*{title}" required/><br/>-->

<!--            <label>Details:</label>-->
<!--            <input type="text" th:field="*{details}" required/><br/>-->

<!--            <button type="submit" class="btn btn-info">Edit</button>-->
<!--        </form>-->
<!--    </div>-->
</div>
</body>
</html>